.App {
  text-align: center;
}
.Top{
  background-color: rgb(199, 184, 184);
}
.News{
  background-color: white;
}
.Newsbox{
  padding: 5%;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 0.15%;
}
.img{
  width: 12%;
  height: 12%;
  float: left;
}
.container{
  width:100%;
}
.Button{
  background-color:lightgreen;
  border: thin;
  border-color:black;
}
.Button:hover{
  background-color: green;
  border: thin;
  border-color:black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
